/* Whole Body */
body {
    background-color: white;
    width: 100%;
}

/* Page Header */
#titleBox {
    position: relative;
    padding: 15px;
}

#logo {
    width: 100%;
    position: relative;
    z-index: 99;
}

#title {
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 75px;
    text-align: center;
    /* width: 100%; */
    padding: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;   
}

/* Navigation Bar */

#dynamicNav {
    box-shadow: 0 0 10px black;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

#dynamicNav > a, a:link, a:visited{
    text-decoration: none;
    padding: 25px 0px 25px;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    top: 25px;
    width: 33.333333333333333333%;
    color: black;
}

.current {
    background-color: salmon;
}

#dynamicNav > a:hover {
    color: white;
    background-color: black;
}

/* Index Home Page */
#welcome > h1 {
    text-align: center;
    font-size: 30px;
}

#welcome > p {
    text-align: center;
}

/* Sales Page */

/* Table */
table {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 178, 169);
    /* box-shadow: 0 0 10px black; */
    border: black solid thin;
    /* margin: 15px; */
}

td {
    padding: 5px;
}

td:nth-child(odd) {
    background-color: rgb(253, 137, 124);

}

td:last-child {
    text-align: center;
    border-left: double 5px black;

}

thead {
    font-weight: bold;
}

tbody {

}

tfoot {
border-top: double 5px black;
}

/* Form */
fieldset {
    margin: 15px;
}

/* Contact Page */
